// nextflow.config
/*
========================================================================================
    Quaisar Custom Config File
========================================================================================

/*
//will update once I can run on cluster to match local specs
//my_home_dir = "$HOME" //can be changed to $PWD or $PATH

/*
========================================================================================
    Default config options for Quaisar environments
========================================================================================
*/

// Load base.config by default
includeConfig 'conf/base.config'

profiles {
    conda { process.conda = "$baseDir/environment.yml"}
}

// Capture exit codes from upstream processes
process.shell = ['/bin/bash', '-euo', 'pipefail']



params {
    singles = false
    name = "FASTQs/*{1,2}.fastq.gz" 
    outdir = "./MiSeqAnalysisFiles"
}

