/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
params {
    modules {
        'busco_db_preparation' {
            publish_files   = ['tar.gz':'']
            publish_dir     = "GenomeBinning/QC/BUSCO"
        }
        'busco' {
            publish_dir     = "GenomeBinning/QC/BUSCO"
        }
        'busco_save_download' {
            publish_dir     = "GenomeBinning/QC/BUSCO"
        }
        'busco_plot' {
            publish_dir     = "GenomeBinning/QC/BUSCO"
        }
        'busco_summary' {
            publish_dir     = "GenomeBinning/QC"
        }
    }
}
process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    /*withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: 'copy',
            pattern: '*.fastq.gz'
    }*/

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }



}
