/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BBMAP_BBDUK {
        ext.args = '--quiet'}

    withName: BLAST {
        ext.args = '--quiet'
    }

    withName: FASTANI {
        ext.args = '--quiet'
    }

    withName: FASTP {
        ext.args = '--quiet'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: GUNZIP {
        ext.args = '--quiet'
    }

    withName: KRAKEN2 {
        ext.args = '--quiet'
    }

    withName: KRONA {
        ext.args = '--quiet'
    }

    withName: MASH {
        ext.args = '--quiet'
    }

    withName: MASHTREE {
        ext.args = '--quiet'
    }

    withName: MLST {
        ext.args = '--quiet'
    }

    withName: PROKKA {
        ext.args = '--quiet'
    }

    withName: SPADES {
        ext.args = '--quiet'
    }
    
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
