/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: 'copy',
           saveAs: { filename -> filename.equals("${prefix}/*.fna") ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FASTP {
        ext.args = '-r --cut_right_window_size 20 --cut_right_mean_quality 30 -l 50 -g -5 20 -3 20'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: BUSCO {
        ext.args = '--mode genome'
    }

    withName: SRST2_TRIMD_AR {
        ext.args = '--forward _1.trim --reverse _2.trim --save_scores --report_all_consensus > srst2.log'
        ext.errorStrategy = { "ignore" }
        publishDir = [
            path: { "${params.outdir}/srst2_trimd" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: KRAKEN2_TRIMD {
    ext.args = '--use-names'
    }

    withName: GAMMA_HV {
        publishDir = [
            path: { "${params.outdir}/hyper_virulence" },
            mode: 'copy'
        ]
    }

    withName: GAMMA_AR {
        publishDir = [
            path: { "${params.outdir}/gamma_ar" },
            mode: 'copy'
        ]
    }

    withName: GAMMA_S {
        publishDir = [
            path: { "${params.outdir}/gamma_s" },
            mode: 'copy'
        ]
    }

    withName: BBMAP_REFORMAT {
        publishDir = [
            path: { "${params.outdir}/assemblies500plus" },
            mode: 'copy'
        ]
    }

}
